@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-danger: #d72638;
  --color-primary: #12355b;
  --color-light: #fafcff;
  --color-dark: #04101d;
  --color-grey-light: #b6c1cd;
  --color-grey-med: #7a828a;
  --color-grey-dark: #2e3134;
  --max-width-form: 700px;
  --max-width-page: 1100px;
  --border-radius: 2px;
  --font-family: 'Inter', sans-serif;
  --transition: all 0.3s ease-in-out;
}

body {
  line-height: 1.5;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--color-light);
}

img {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: var(--border-radius);
}

/* main nav */
.main-nav {
  background-color: var(--color-grey-dark);
  color: var(--color-light);
  height: 5rem;
  padding: 1rem;
}

.main-nav .nav-container {
  height: 100%;
  max-width: var(--max-width-page);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.main-nav .nav-container a {
  text-decoration: none;
  color: var(--color-light);
}

.logo {
  font-size: 1.5rem;
}

.main-nav .nav-container a span {
  font-weight: 900;
}

/* index */
.index {
  max-width: var(--max-width-page);
  margin: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.products a {
  text-decoration: none;
}

.products a h4 {
  color: var(--color-dark);
  font-weight: 700;
  text-transform: capitalize;
}

.products .item {
  width: 100%;
}

.products .item .info {
  margin-bottom: 0.5rem;
}

.products .item p {
  color: var(--color-grey-med);
  text-transform: capitalize;
}

/* show */
.show {
  margin: auto;
}

.show h3 {
  text-transform: capitalize;
}

.show p {
  color: var(--color-grey-med);
  text-transform: capitalize;
}

.show .info {
  margin-bottom: 1rem;
}

.show .info .info-header {
  margin-bottom: 0.5rem;
}

.show .info form {
  margin-top: 1rem;
}

.show a {
  color: var(--color-primary);
  margin-right: 1rem;
}

.show .delete {
  color: var(--color-danger);
  border: none;
  background-color: inherit;
  font-size: 1.1rem;
  text-decoration: underline;
  cursor: pointer;
}

.show .description {
  margin-top: 1rem;
}

/* edit */
.edit header {
  display: flex;
  align-items: center;
}

.edit header h1 {
  margin-right: 1rem;
}

.edit header a {
  color: var(--color-primary);
}

/* utilities */
.wrapper {
  max-width: var(--max-width-form);
  margin: auto;
  padding: 1rem;
  margin: 2rem auto;
}

.block {
  display: block;
  width: 100%;
}

.max-width {
  width: 50%;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button:disabled:hover,
button[disabled]:hover {
  border: 1px solid transparent;
  background-color: #cccccc;
  color: #666666;
}

.btn {
  display: block;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  width: 100%;
  color: var(--color-light);
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-family);
  margin-top: 2rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
}

.btn:hover {
  background-color: inherit;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}

/* forms */
.form-control {
  margin: 1rem 0;
}

.new #image {
  padding: 0;
}

input,
textarea {
  padding: 1rem;
  font-family: var(--font-family);
}

/* media queries */
@media screen and (min-width: 800px) {
  .show .info {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    margin: 2rem 0;
  }

  .show .info .description {
    margin: 0;
  }
}
